@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: Lato, 'Open Sans';
    font-weight: 300;
    color: #f2f2f2;
    background-color: black;

}

h1,
h2 {
    font-family: Oswald, 'Open Sans';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #f2f2f2;
}

header #logo {
    float: left;
    font-size: 280%;
}

header #menu {
    font-size: 110%;
    letter-spacing: 4px;

}

header #menu,
#logo {
    line-height: 75px;
    min-height: 100px;
}

header #menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}

header #menu a {
    text-decoration: none;
    color: inherit;
}

header #menu a:hover {
    border-bottom: 1px solid #f2f2f2;
}

.active {
    border-bottom: 1px solid #f2f2f2;
}

/* #lift-outer {
    height: 1048px;
    width: 100%; 
    
    
} */

/* #lift-img {
    height: 1000px;
    width: 100%;
    background: url('/images/john-arano-h4i9G-de7Po-unsplash.jpg') no-repeat fixed right;
    /* animation-name: lift-zoom; 
    animation-duration: 2s; 
    animation-fill-mode: forwards; 
    overflow: hidden;

} */

.section {
    background-color: rgb(120, 24, 24);
    padding: 10px;
    margin: 50px 0;
    /* Add some space between the sections */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    overflow: auto;

}

.section1 {
    float: inline-start;

}

/* #lift-outer {
    display: flex;
    align-items: center;
    padding: 200px 130px 200px 100px;
} */

#text-left {
    background-color: inherit;
    /* Adjust the background color as needed */
    color: #fff;
    /* White text color */
    /* padding: 0%; */
    padding-top: 30px;
    margin-right: 20px;
    box-sizing: content-box;
    width: 33%;
    float: left;
    height: auto;
    overflow: visible;
    flex-grow: 1;
    flex-basis: 160px;
    font-size: 120%;

}

#text-left p {
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-weight: 300;
}

#lift-img {
    height: 500px;
    width: 100%;
    background: url('/images/john-arano-h4i9G-de7Po-unsplash.jpg') no-repeat center center;
    overflow: visible;
    padding-top: 30px;
    flex-grow: 1;
    flex-basis: 160px;
}


/* @keyframes lift-zoom {
    from{
        transform: scale(1);

    }
    to {
        transform: scale(1.02);

    }
    
} */


#services {
    height: 600px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

}

#services h1 {
    
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}


.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    margin-right: 50px;
    flex-grow: 1;
    flex-basis: 200px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    flex-grow: 1;
    flex-basis: 200px;
}

.right-about-heading h2 {
    text-align: left;
}

.right-about-heading p {
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

/* Table */
.schedule-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;

}

.image-container {
    position: relative;
}
.fadding-image {
    display: block;
    width: 700px;
    height: auto;
}


.schedule {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    align-content: first baseline;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  thead {
    background-color: #000000;
    font-weight: bold;
  }